header {
  padding-top: 20px;
  margin: auto;
  width: 90%;
  height: 46.88px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    font-size: 12px;
    font-weight: 500;
    line-height: 17.11px;
    text-decoration: none;
    color: black;
  }

  .link-acceuil {
    margin-right: 15px;
  }
}

@media (min-width: 768px) {
  header {
    a {
      font-size: 24px;
      line-height: 32.22px;
      font-weight: 500px;
    }
  }
}
