.card-image-decorative {
  @include containner-card;
  height: 111px;
  width: 100%;

  h2 {
    bottom: 33px;
    left: 16px;
  }

  p {
    border-radius: 10px;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.25);
    display: block;
    position: relative;
  }
}
