.carrousel-container {
  margin-top: 27px;
  position: relative; /* ajout de positionnement relatif pour les flèches positionnées en absolu */

  img {
    position: relative;
    object-fit: cover;
    border-radius: 10px;
    height: 255px;
    width: 100%;
  }

  .fleche-droite {
    height: 2.4em;
    width: 2.4em;
    color: white;
    position: absolute;
    top: 50%;
    right: 0.5em;
    transform: translateY(-50%);
  }

  .fleche-gauche {
    height: 2.4em;
    width: 2.4em;
    color: white;
    position: absolute;
    top: 50%;
    left: 0.5em;
    transform: translateY(-50%);
  }

  .compteur-container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }

  .compteur {
    display: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .carrousel-container {
    img {
      height: 415px;
    }

    .compteur {
      display: flex;
      line-height: 25.67px;
      font-size: 18px;
      font-weight: 500;
    }
  }
}
