.collapse-container {
  @include collapse;
  div {
    background-color: #f6f6f673;
    p {
      padding: 10px;
      font-size: 12px;
      font-weight: 400;
      line-height: 17.11px;
    }
  }
}

.collapse-container-list {
  @include collapse;

  div {
    background-color: #f6f6f673;
    ul {
      list-style: none;
      padding: 10px;
      font-size: 12px;
      font-weight: 400;
      line-height: 17.11px;
    }
  }
}
