.host {
  display: flex;
  height: 33px;
  align-items: center;
  flex-direction: row;

  .round-image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 10px;
  }

  h3 {
    color: $Primary-color;
    font-size: 12px;
    font-weight: 500;
    line-height: 17.11px;
  }
}

@media (min-width: 768px) {
  .host {
    .round-image {
      width: 64px;
      height: 64px;
    }

    h3 {
      font-size: 18px;
      font-weight: 500;
      line-height: 25.67px;
    }
  }
}
